.clear-hack {
	clear: both;
	height: 1px;
	width: 100%;
}

.longWrapper {
	width: 900px;
	margin: 0 auto;
	list-style-type: none;
}

.longWrapper ul li {
	width: 100%;
}

.longWrapper li {
	list-style-type: none;
}

.longWrapper table {
	border-left: 0;
	border-right: 0;
}

.longwrapper ol li.add {
	text-indent: -9999px;
}

ol#master-list {
	margin: 0;
	padding: 0;
	border-left: 1px solid #CAD0D5;
	border-right: 1px solid #CAD0D5;
}

ol#master-list ol {
	margin-top: 5px;
	padding-bottom: 5px;
}

div.example-link {
	width: 150px;
	float: left;
	position: relative;
	top: 3px;
}

li input.input {
	float: right;
	margin-right: 10px;
}

a.handlebar img {
	float: right;
	border: 0;
	position: relative;
	top: 3px;
	padding-left: 20px;
	padding-right: 8px;
}

a.lock img {
	float: right;
	border: 0;
	position: relative;
	padding-left: 30px;
	padding-right: 5px;
}

a.delete-link img {
	float: right;
	border: 0;
	position: relative;
	top: 3px;
}

/*#add-new-item {
	width: 100%;
	margin: 0 auto;
}*/

.add-new-item a {
    background: transparent url(http://genome.paradowski.com/themes/cp_themes/default/images/bg_button_a.gif) no-repeat scroll top right;
    color: #fff;
    display: block;
    font: bold 12px arial, sans-serif;
    height: 27px;
    margin: 0 0 10px 0;
    padding-right: 20px; 
    text-decoration: none;
	outline: none;
	overflow: hidden;
	float: right;
}
.add-new-item a div,
.add-new-item a span {
    background: transparent url(http://genome.paradowski.com/themes/cp_themes/default/images/bg_button_div.gif) no-repeat;
    display: block;
    line-height: 17px;
    padding: 5px 0 5px 20px;
}
.add-new-item a:active {
    background-position: bottom right;
    color: #fff;
    outline: none; 
}
.add-new-item a:active div,
.add-new-item a:active span {
    background-position: bottom left;
    padding: 6px 0 4px 20px; 
}

ol#master-list li {
	padding: 8px 0 7px 8px;
	background-color: #fff;
	border-bottom: 1px solid #CAD0D5;
}

ol#master-list li ol li {
	padding: 8px 0 7px 8px;
	background-color: #fff;
}

ol#master-list li.alt {
	background-color: #eef4f9;
}

ol#master-list li ol li {
	background-color: #fff;
	border-bottom: 1px solid #dde1e5;
}

ol#master-list li ol li.sectionalt {
	background-color: #eef4f9;
}

.longWrapper .top-labels {
	background: url(/images/title_background.gif) #768e9d repeat-x left bottom;
	padding: 7px 0;
	clear: right;
}

.longWrapper .title-label, .longWrapper .link-label {
	color: #fff;
	font-weight: bold;
}

.longWrapper .top-labels .title-label {
	margin-left: 420px;
	width: 200px;
	float: left;
}

.longWrapper .top-labels .link-label {
	width: 200px;
	margin-left: 630px;
}

.longWrapper .submit {
	margin: 15px 0 0 10px;
	width: 100px;
}

.dropzone {
	border-top: 3px solid #CAD0D5;
}