.longWrapper li, .lonelytable {
	width: 800px;
	margin: 0 auto;
}

.lonelysubtable {
	width: 730px;
	margin: 10px auto 10px auto;
}

.longWrapper li {
	list-style-type: none;
}

.longWrapper table {
	border-left: 0;
	border-right: 0;
}

.longwrapper ol li.add {
	text-indent: -9999px;
}

div.example-link {
	width: 150px;
	float: left;
}

a.handlebar img {
	border: 0;
	position: relative;
	top: 5px;
	padding-left: 20px;
}

a.delete-link img {
	border: 0;
	position: relative;
	top: 5px;
}

/*#add-new-item {
	width: 100%;
	margin: 0 auto;
}*/

.add-new-item a {
	float: right;
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 10px;
	background: transparent url(/themes/cp_global_images/add.png);
	margin-right: 5%;
}

.add-new-item a:active {
	border: 0;
}